%div.admin-form
  = form_for([:admin, @new_student]) do |f|
    %div.input-container
      = f.label :first_name
      = f.text_field :first_name
    %div.input-container
      = f.label :last_name
      = f.text_field :last_name
    %div.input-container
      = f.label "student #"
      = f.email_field :student_number
    %div.input-container
      = f.label :phone_number
      = f.text_field :phone_number
    %div.input-container
      = f.label :push_id
      = f.text_field :pushover_id
    %div.buttontop.floatright
      = f.submit "update", :class => 'admin-button-type-1'