%div.container-type-1
  %h2 Student Database
  
  = link_to "Add New Student", "/admin/students/new", :class => 'admin-button-type-1'
  
  %div.admin-table
    %div.admin-table-header
      %p.table-text.student-number-header.bold Student Number
      %p.table-text.first-name-header.bold First Name
      %p.table-text.last-name-header.bold Last Name
    - @students.each do |student|
      %div.admin-table-line-item
        %p.table-text.student-number-text= student.student_number
        %p.table-text.first-name-text= student.first_name
        %p.table-text.last-name-text= student.last_name
        = link_to "student card", admin_student_path(student), :class => 'admin-button-type-2'
        = link_to "update", edit_admin_student_path(student), :class => 'admin-button-type-2'