#header-container
  #logo
    = link_to image_tag('cen-logo.jpg'), '/', :class => 'logo'
  %h1.site-title Student Services Queue System
  
  %div.date-info
    %p
      = Time.now.strftime('%I:%M %p')
      %br
      = Time.now.strftime('%A %B %d, %Y')
      - if current_admin
        %br
        = "Logged In: " + current_admin.email
      - else
        %br
        Not Logged In
    
  %div.navigation
    - if current_admin
      %div.nav-button-container
        = link_to "", '/admin/sign_out', :method => :delete, :confirm => 'Are you sure you want to sign out?', :class => 'icon-signout icon-large nav-icon'
        %p Sign Out
      %div.nav-button-container
        = link_to "", '/admin/students', :class => 'icon-group icon-large nav-icon'
        %p Student Database
      %div.nav-button-container
        = link_to "", '/', :class => 'icon-reorder icon-large nav-icon'
        %p Live Queue
      %div.nav-button-container
        = link_to "", '/admin/queued_students', :class => 'icon-plus icon-large nav-icon'
        %p Add Student To Queue
      %div.nav-button-container
        = link_to "", '/admin/departments', :class => 'icon-info-sign icon-large nav-icon'
        %p Manage Departments
      %div.nav-button-container
        = link_to "", '/department_queue', :class => 'icon-tasks icon-large nav-icon'
        %p Department Queue
      
    - else
      = link_to "admin sign in", '/admin/sign_in', :class => 'sign-out-button'
  
- if flash[:notice]
  %div.alerts-banner.green
    %p= flash[:notice]
    
- if flash[:alert]
  %div.alerts-banner.red
    %p= flash[:alert]